
@{
    ViewBag.Title = "DersleriEkle";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
@*<h2>DersleriEkle</h2>*@

@using (Html.BeginForm("DersleriEkle", "Home", FormMethod.Post, new { @class = "form-horizontal", rola = "form" }))
{
    <div class="form-group row">
        <label class="control-label col-sm-3">Ders İsmi Giriniz:</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="dersAdi" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <input type="submit" class="btn btn-primary" value="Ders Ekle" />
        </div>
    </div>
}